<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projet_securite">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.PageDetails.DetailClientActivity"></activity>
        <activity android:name=".Activities.PageDetails.DetailAgenceActivity" />
        <activity
            android:name=".Activities.ListGardiens.ListGardiensPourAgenceActivity"
            android:label="@string/title_activity_agence"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.LancementApp.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Activities.LancementApp.AccueilActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="android.support.PARENT_ACCUEIL"
            android:value=".accueil" />

        <activity
            android:name=".Activities.Formulaires.AjouterGardienActivity"
            android:label="Recrutement De Gardiens"
            android:parentActivityName=".Activities.ListGardiens.ListGardiensPourAgenceActivity">
            <meta-data
                android:name="android.support.PARENT_ACCUEIL"
                android:value=".deposer" />
        </activity>
        <activity
            android:name=".Activities.ListGardiens.ListGardiensPourClientActivity"
            android:label="Engagement De Gardiens"
            android:parentActivityName=".Activities.LancementApp.AccueilActivity">
            <meta-data
                android:name="android.support.PARENT_ACCUEIL"
                android:value=".engagement" />
        </activity>
        <activity android:name=".Activities.Authentification.LoginActivity" />
        <activity android:name=".Activities.Authentification.SignupActivity" />
        <activity android:name=".Activities.PageDetails.DetailGardienActivity" />
        <activity android:name=".Activities.Formulaires.FormEngagementPourClientActivity" />
    </application>

</manifest>